/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.DS_Store### https://raw.github.com/github/gitignore/18aa6d83774d514da479d73a4beb864cd4220231/Rails.gitignore
.rbc
capybara-.html
.rspec
/backend/db/.sqlite3
/backend/db/.sqlite3-journal
/backend/db/.sqlite3-[0-9]*
/backend/public/system
/coverage/
/spec/tmp
.orig
rerun.txt
pickle-email-.html
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.env
.env.*
/.bundle
/backend/vendor/bundle
.rvmrc
.bowerrc
bower.json
.powenv
.byebug_history
/backend/public/packs
/backend/public/packs-test
/backend/public/assets
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/storage/.keep
!/backend/storage/.keep
/backend/public/uploadse/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace